* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  height: max(100vh, 100%);
}

ul {
  list-style: none;
}

img {
  width: 100%;
}

#root,
#page-container {
  height: 100%;
  width: 100%;
}

#page-container {
  display: grid;
  grid-template-columns: minmax(250px, 20%) 1fr;
}

#projects-list .active-project {
  border: 4px solid blue;
}
