* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  height: max(100vh, 100%);
}

ul {
  list-style: none;
}

img {
  width: 100%;
}

#root {
  height: 100%;
  width: 100%;
  display: flex;
  text-align: center;
}

#root > * {
  flex: 1;
}

#nav,
#main {
  display: flex;
  flex-direction: column;
  padding: 1rem;
}

#nav > * {
  border: 1px solid bisque;
  flex: 1;
  padding: 1rem;
  margin: 1rem 0;
}

#main > * {
  margin: 1rem 0;
  padding: 1rem;
  border: 2px double dodgerblue;
}
